export SUBSCRIPTION_NAME=infrastructure-sandbox

export VAULT_SKIP_VERIFY=true
export VAULT_ADDR='https://vault.infra-sandbox-vault.nonprod.us.lnrisk.io'

export VAULT_USERNAME=goluga01

alias h=helm
alias v=vault
alias s=sentinel

alias vlogin="vault login -method=userpass username=$VAULT_USERNAME"

alias k=kubectl
alias kgp='kubectl get pods'

alias tf=terraform
alias tfa='terraform apply'
alias tfd='terraform destroy'
alias tfi='terraform init'

alias azlogin="az login --username ${AZURE_USERNAME} --password ${AZURE_PASSWORD}"
alias azsetsub="az account set --subscription $SUBSCRIPTION_NAME"

azlogin
azsetsub

export AZURE_SUBSCRIPTION_ID=$(az account list --output tsv --query "[?name=='$SUBSCRIPTION_NAME'].id")
export AZURE_TENANT_ID=$(az account list --output tsv --query "[?name=='$SUBSCRIPTION_NAME'].tenantId")
#
#client_id=$AZURE_CLIENT_ID \
#client_secret=$AZURE_CLIENT_SECRET

#alias aks_login="az aks get-credentials --name aks-app-srevault-sandbox-useast2 --resource-group app-srevault-sandbox-useast2 --subscription us-infrastructure-dev"
